.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--theme-default-icon-text);
    background-color: var(--theme-page-background);
    border: none;
    border-radius: 10px;
    margin: 6px 0;
    padding: 0;
    height: 64px;
    width: 64px;
    cursor: pointer;
    
    &:hover {
        transition: box-shadow 300ms ease;
        color: var(--theme-text-hover);
        box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.15);
        -webkit-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.15);
    }
    
    &:active {
        transition: none;
        box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
    }
}

.name {
    font-family: "Inter", sans-serif;
    margin: 4px 0 0;
    padding: 0;
    font-size: 0.55rem;
    font-weight: 700;
    user-select: none;
}

.sort-button {
    background-color: blue;
    color: white;
}

@media (max-width: 768px) {
    
}