@keyframes zoom-in {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.theme-icon {
    margin-top: auto;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    svg {
        color: #FF744E;
        cursor: pointer;
        transition: transform 1s ease-in-out;
        animation-name: zoom-in;
        animation-duration: 1s;
    }

    svg:hover {
        transform: rotateZ(360deg);
    }
}

.name {
    font-family: "Inter", sans-serif;
    margin: 4px 0 0;
    padding: 0;
    font-size: 0.55rem;
    font-weight: 700;
    user-select: none;
    display: none;
}

@media (max-width: 768px) {
    .theme-icon {
        margin: 0;
        font-size: 1.3rem;
        width: 64px;
    }
    .name {
        display: block;
    }
}